body {
    background-color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
}

.menu {
    margin: 4em auto;
    list-style: none;
    color: rgb(0, 0, 0, .8);
    width: 15em;
    line-height: 42px;
    /*outline: 1px solid red;*/
    padding-left: 0;
}

.menu a {
    color: rgb(0, 0, 0, .5);
    ;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.menu a:hover {
    margin-left: 1em;
    transition: all .5s;
}

.menu li {
    box-shadow: 3px 0 rgba(0, 0, 0, .2) inset;
    text-decoration: none;
    /*border-left: 3px solid rgba(0, 0, 0,.2);*/
    padding-left: 1.5em;
    margin-bottom: 6px;
    /*outline: 1px solid red;*/
}

nav {
    position: absolute;
    padding-top: 3em;
    left: -18em;
    z-index: 20;
    top: 0;
    height: 100%;
    transition: all .5s;
    background-color: #222d32;
}

nav.mostrar {
    position: absolute;
    left: 0;
}

#mostrar-nav {
    position: absolute;
    cursor: pointer;
    top: .5em;
    left: .8em;
    width: 32px;
    height: 32px;
    background: url(menu.png);
    z-index: 30;
    /*outline: 1px solid red;*/
}

.menu li:hover {
    /* box-shadow: 14.5em 0 rgba(255,255,255,.1) inset; */
    transition: all .8s;
}

#nav-m {
    left: 0;
    position: absolute;
    top: 0;
    height: 3em;
    width: 100%;
    background-color: #3c8dbc;
}

.nav-menu {
    max-width: 87.5%;
    margin-left: 12.5%;
    transition: all .5s;
}

.menu li a {
    color: #b8c7ce;
}

.menu li a:hover {
    color: #F7F7F7;
}